#
# Kbuild ignores
#
.*
*.o
*.o.*
*.a
*.s
Kbuild
Config.in
cscope.out
*/cscope.out

libevent-2.0.20-stable/.git

#
# Never ignore these
#
!.gitignore

#
# Normal output
#
/busybox
/busybox_old
/busybox_unstripped*

#
# Backups / patches
#
*~
*.orig
*.rej
/*.patch

#
# debugging stuff
#
core
.gdb_history
.gdbinit
